.button-toolbar.newtab {
  position: sticky
}

.toolbar.toolbar-tabbar > .button-toolbar > button,
.toolbar.toolbar-tabbar > .toolbar-group > .button-toolbar > button {
  color: var(--colorImageFg, var(--colorFgIntense));
}

#vivaldi-tooltip .tab-solo {
  position: fixed;
  left: calc(var(--TabBarWidth) + 3px);
}
