#tabs-container .resize::-webkit-scrollbar {
  width: 10px;
}

#tabs-container .resize::-webkit-scrollbar-track {
  background-color: transparent;
}

#tabs-container .resize::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--colorBg);
}

#tabs-container .resize::-webkit-scrollbar-button {
  height: 0px;
  visibility: collapse;
}
