.tab-position.accordion-toggle-arrow .VivaldiSvgIcon {
  color: var(--colorHighlightBg);
}

.tab-position .tab.tab-in-accordion .tab-header {
  padding-left: 4px;
}

.tab-position .tab.tab-in-accordion.tab-first-in-group {
  border-top: 2px solid var(--colorHighlightBg) !important;
  border-radius: calc(var(--radius)) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0 !important;
}

.tab-position .tab.tab-in-accordion.tab-last-in-group {
  border-bottom: 2px solid var(--colorHighlightBg) !important;
  border-radius: calc(var(--radius)) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 0 !important;
}

.tab-position .tab.tab-in-accordion {
  border-left: 2px solid var(--colorHighlightBg) !important;
  border-right: 2px solid var(--colorHighlightBg) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.tab-position:has(.tab.tab-in-accordion) {
  margin-top: 0;
  margin-bottom: 0;
}

.tab-position:has(.tab.tab-in-accordion.tab-first-in-group) {
  margin-top: 2px;
}

.tab-position.accordion-toggle-arrow {
  width: var(--TabWidth)px;
  margin-left: 0;
  margin-top: -1px;
}

.accordion-toggle-arrow.closed.active {
  margin: -1px 0px 3px 0px;
  background-color: transparent;
}

.tab.active, #tabs-container .tab.tab-accordion, #tabs-container .tab.tab-first-in-group {
  overflow: hidden;
}

.svg-tab-stack {
  display: none
}

.tabs-left .tab-accordion.active, .tabs-left .tab-in-accordion.tab-first-in-group,
.tabs-right .tab-accordion.active, .tabs-right .tab-in-accordion.tab-first-in-group {
  border-bottom-right-radius: var(--currentRadius);
  border-bottom-left-radius: var(--currentRadius);
}

.tabs-left .tab-accordion, .tabs-left .tab-in-accordion.tab-first-in-group:hover,
.tabs-right .tab-accordion, .tabs-right .tab-in-accordion.tab-first-in-group:hover {
  border-bottom-right-radius: var(--currentRadius);
  border-bottom-left-radius: var(--currentRadius);
}
