.tab-position {
  position: relative !important;
  transform: none !important;
}

.tab-strip {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
  grid-auto-rows: max-content;
  padding: 10px 6px 0px 6px !important;
  row-gap: 5px;
  column-gap: 4px;
}

.tab-strip > span:has(.tab-position:not(.is-pinned)) {
  grid-column: 1/-1;
  display: flex;
}

.tab-position.accordion-toggle-arrow {
  grid-column: 1/-1;
}

.tab-strip > .toolbar-tabbar {
  grid-column: 1/-1;
  background-color: transparent;
}

.tab-strip > .separator {
  grid-column: 1/-1;
  --PositionY: 5px !important;
  height: 0px;
  position: relative;
  width: 238px;
}

.tab-strip > .separator > hr {
  background-color: var(--colorFg);
  border: 0px;
  height: 2px;
  margin: 0px;
  width: 100%;
}

.tab.pinned .title {
  display: none;
}
