.density-on .tab-wrapper {
  margin: 0;
}

.tab-wrapper {
  max-height: 45px;
}

.tab-position {
  height: 45px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
}

.tab-position .tab {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--colorFgFadedMore) !important;
  transition:
    background 0.1s,
    color      0.1s;
  height: 45px;
  justify-content: center;
}

.tab-position .tab.active {
  background: var(--colorAccentBgDarker) !important;
  color: var(--colorFgIntense) !important;
}

.tab-position .tab:hover {
  background: var(--colorBgLightIntense) !important;
  color: var(--colorFg) !important;
}

.tab-position .tab .tab-header {
  max-width: 238px !important;
}

.tab-position .tab.pinned .tab-header {
  justify-content: center;
  padding-left: 0px;
}
